

.btn-yak {
    color: black;
    background-color: #DEF7FC;
    border-color: #DEF7FC;
    margin-top: 2px;
    margin-bottom: 2px;
}

.tablehead {
}

h1.page-header {
    margin: 0;
    padding: 0;
}

.table-center td {
  text-align: center;
}