{% extends 'base.html'%}
{% block content %}
<h1>{{ model.name_plural }}</h1>
<p>{{ model.description }}</p>
<hr>
{% for type in types %}
<h3>{{ type | capfirst }}{% if type != "data" %}s{% endif %}</h3>
    <div class="scrollable-content">
        <table class="table">
            <thead class="tablehead">
                <th>File name and Options</th>
                <th>Data</th>
            </thead>
            {% for item in items %}
            {% if item.type == type %}
            <tr>
                <td><b>{{ item }}</b><br>
                    {{ item.df.shape }}<br>
                    <a class="btn btn-yak" href="{% url 'item' model_str item.id %}">View File</a>
                    {% if item.owner %}
                    <a class="btn btn-yak" href="{% url 'item' item.type item.owner.id %}">View {{ type | capfirst }}</a>
                    {% endif %}
                    <a class="btn btn-yak" href="{% url 'delete' model_str item.id %}">Delete</a>
                </td>
                <td>{{ item.df_top_html | safe }}</td>
                <td>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
{% endfor %}

<style>
    /* Custom CSS for the scrollable content */
    .scrollable-content {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        /* Add any other styling as needed */
    }
</style>

{% endblock %}
