{% extends 'base.html'%}
{% block content %}

<h3>Home</h3>
<p>The Home screen shows all Data, Joins, Periods and DNNs. The steps involved are:</p>
<ol>
    <li>Create the monthly data</li>
    <li>'Joins' will be created that contain the change in the Data from month to month</li>
    <li>Group Joins together in Periods, by specifying the calendar date of the start and end of the Period</li>
    <li>Create and Run a Deep Neural Network (DNN) to identify patterns</li>
    <li>Use the DNN to value each policy</li>
</ol>

<hr>
<table class="table">
    <thead class="tablehead">
        <th>Model</th>
        <th>Items</th>
        <th>Action</th>
    </thead>
    {% for model_str, items in all %}
        <tr>
            <td>
                <a href="{% url 'list' model_str %}">{{ model_str | capfirst }}s</a></td>
            <td>
                {% for item in items %}
                    <a class="btn btn-yak" href="{% url 'item' model_str item.id %}">{{ item }}</a>
                {% endfor %}
            </td>
            <td>
                {% if items|length > 0 %}
                    <a class="btn btn-yak" href="{% url 'delete_all' model_str %}">Delete all {{ model_str | capfirst }}s</a>
                {% elif model_str == "data" %}
                    <a class="btn btn-yak" href="{% url 'data_create' %}">Create initial Data</a><br><br>
                {% endif %}

            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}