{% extends 'base.html'%}
{% block content %}
<h1>{{ model.name_plural }}</h1>
<p>{{ model.description }}</p>
<hr>
<table class="table">
    <thead class="tablehead">
        <th>Name</th>
        <th>Joins</th>
        <th>Ouput</th>
        <th>Actions</th>
    </thead>

    {% for item in items %}
    <tr>
        <td>
            <b>{{ item.name }} </b><br>
            {% if item.df is not None %}
            {{ item.df.shape }}
            {% endif %}
        </td>
        <td>{{ item.start_date }} to {{ item.end_date }}<br>
            {% for join in item.joins %}
                <a class="btn btn-yak" href="{% url 'item' 'join' join.id %}">{{ join }}</a><br> {{ join.file.df.shape }}<br>
            {% endfor %}
        </td>
        <td>
            <b>Data</b> {{ item.file.df.shape }} <a href="{% url 'item' 'file' item.file.id %}">View</a> <a href="{% url 'create_files' 'period' item.id %}">Create File</a>
            {{ item.file.df_top_html | safe }}
            <b>Rates</b> {% if item.rate_file %}<a href="{% url 'item' 'file' item.rate_file.id %}">View</a><br>{% endif %}
            {{ item.rate_file.df_top_html | safe }}
            {% for file in item.files %}{% if file %}<a href="{% url 'item' 'file' file.id %}">{{ file }}</a><br>{% endif %}{% endfor %}
        </td>
        <td>
            <a class="btn btn-yak" href="{% url 'item' model_str item.id %}">View</a>
            <a class="btn btn-yak" href="{% url 'delete' model_str item.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a class="btn btn-yak" href="{% url 'new' model_str %}">Create {{ model_str }}</a><br><br>

{% endblock %}