{% extends 'base.html'%}
{% block content %}

<h3>Period: {{ item.name }}</h3>
<a href="{% url 'list' model_str %}">All {{ model_str | capfirst }}s</a><br>

<a class="btn btn-yak" href="{% url 'create_files' model_str item.id %}">Create Files</a><br><br>

<div class="row">
    <div class="col-sm-12">
        <h3>Calculated Rates {{ item.rate_file.df.shape }}</h3>
        {{ item.rate_file.df_html | safe }}
    </div>
</div>
<h3>Raw Data {{ item.file.df.shape }}</h3>
{{ item.file.df_html | safe }}

<br><br><br>

{% endblock %}